* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}
.container {
  width: 90%;
  margin: auto;
}
h1,
h4 {
  margin-bottom: 28px;
}
.form-group,
.form-check,
.btn-group {
  margin-bottom: 20px;
}
/* input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"],
input[type="email"],
select {
} */
.form-control {
  padding: 10px 5px;
  width: 50%;
  border: 1px solid gray;
  border-radius: 10px;
}
.form-control:focus {
  background-color: aquamarine;
}
/* BEM: Block - Elements - Modified */
.btn {
  padding: 10px 20px;
  text-align: center;
  tab-size: 1.3rem;
  border: 0px solid gray;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 10px;
}
.btn--primary {
  background-color: rgba(0, 123, 255, 1);
  color: white;
}
.btn--danger {
  background-color: rgba(220, 53, 69, 0.7);
  color: white;
}
.btn--primary:hover {
  background-color: rgba(0, 123, 255, 0.7);
  color: white;
}
.btn--danger:hover {
  background-color: #dc3545;
  color: white;
}
.lbl {
  display: inline;
}
.lbl--wrap {
  display: block;
}
