* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  width: 100%;
  overflow: hidden;
}
#post {
  width: 80%;
  background-color: aqua;
  float: left;
  height: 100%;
}
#sidebar {
  width: 20%;
  background-color: burlywood;
  float: right;
  height: 100%;
}
.footer {
  background-color: gray;
  padding: 20px;
}
.clear {
  clear: both;
}
